In [1]:
import pandas as pd
import os

# DATASETS : UBER

In [2]:
# Obtener la ubicación del directorio actual del notebook
directorio_actual = os.path.abspath(os.getcwd())

# Definir la ruta relativa al archivo CSV desde el directorio actual
ruta_csv_relativa = 'Dataset_Uber/uber_data.csv'

# Combinar la ruta del directorio actual con la ruta relativa
ruta_csv = os.path.join(directorio_actual, ruta_csv_relativa)

# Leer el archivo CSV con Pandas
try:
    df1 = pd.read_csv(ruta_csv)
    print("Archivo CSV cargado exitosamente.")
# Captura error
except FileNotFoundError:
    print(f"No se pudo encontrar el archivo CSV en la ruta: {ruta_csv}")
except Exception as e:
    print(f"Ocurrió un error al cargar el archivo CSV: {str(e)}")

df1[['passenger_count','trip_distance','pickup_longitude','pickup_latitude','fare_amount','tip_amount']].head()

Archivo CSV cargado exitosamente.

,passenger_count,trip_distance,pickup_longitude,pickup_latitude,fare_amount,tip_amount
0,1,2.50,-73.976746,40.765152,9.0,2.05
1,1,2.90,-73.983482,40.767925,11.0,3.05
2,2,19.98,-73.782021,40.644810,54.5,8.00
3,3,10.78,-73.863419,40.769814,31.5,3.78
4,5,30.43,-73.971741,40.792183,98.0,0.00

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 19 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               100000 non-null  int64
 1   tpep_pickup_datetime   100000 non-null  object
 2   tpep_dropoff_datetime  100000 non-null  object
 3   passenger_count        100000 non-null  int64
 4   trip_distance          100000 non-null  float64
 5   pickup_longitude       100000 non-null  float64
 6   pickup_latitude        100000 non-null  float64
 7   RatecodeID             100000 non-null  int64
 8   store_and_fwd_flag     100000 non-null  object
 9   dropoff_longitude      100000 non-null  float64
 10  dropoff_latitude       100000 non-null  float64
 11  payment_type           100000 non-null  int64
 12  fare_amount            100000 non-null  float64
 13  extra                  100000 non-null  float64
 14  mta_tax                100000 non-null  float64
 15  tip_amount             100000 non-null  float64
 16  tolls_amount           100000 non-null  float64
 17  improvement_surcharge  100000 non-null  float64
 18  total_amount           100000 non-null  float64
dtypes: float64(12), int64(4), object(3)
memory usage: 14.5+ MB

# DATASETS : YouTube

In [4]:
# Obtener la ubicación del directorio actual del notebook
directorio_actual = os.path.abspath(os.getcwd())

# Definir la ruta relativa al archivo CSV desde el directorio actual
ruta_csv_relativa = 'Datasets_YouTube/USvideos.csv'

# Combinar la ruta del directorio actual con la ruta relativa
ruta_csv = os.path.join(directorio_actual, ruta_csv_relativa)

# Leer el archivo CSV con Pandas
try:
    df2 = pd.read_csv(ruta_csv)
    print("Archivo CSV cargado exitosamente.")
# Captura error
except FileNotFoundError:
    print(f"No se pudo encontrar el archivo CSV en la ruta: {ruta_csv}")
except Exception as e:
    print(f"Ocurrió un error al cargar el archivo CSV: {str(e)}")
    
df2[['video_id', 'trending_date', 'title', 'channel_title', 'category_id','views', 'likes', 'dislikes','views', 'likes', 'dislikes']].head()

Archivo CSV cargado exitosamente.

,video_id,trending_date,title,channel_title,category_id,views,likes,dislikes,views,likes,dislikes
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,748374,57527,2966,748374,57527,2966
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2418783,97185,6146,2418783,97185,6146
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,3191434,146033,5339,3191434,146033,5339
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,343168,10172,666,343168,10172,666
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2095731,132235,1989,2095731,132235,1989

In [5]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40949 entries, 0 to 40948
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   video_id                40949 non-null  object
 1   trending_date           40949 non-null  object
 2   title                   40949 non-null  object
 3   channel_title           40949 non-null  object
 4   category_id             40949 non-null  int64
 5   publish_time            40949 non-null  object
 6   tags                    40949 non-null  object
 7   views                   40949 non-null  int64
 8   likes                   40949 non-null  int64
 9   dislikes                40949 non-null  int64
 10  comment_count           40949 non-null  int64
 11  thumbnail_link          40949 non-null  object
 12  comments_disabled       40949 non-null  bool
 13  ratings_disabled        40949 non-null  bool
 14  video_error_or_removed  40949 non-null  bool
 15  description             40379 non-null  object
dtypes: bool(3), int64(5), object(8)
memory usage: 4.2+ MB

# DATASETS : AirportArrays

In [6]:
# Obtener la ubicación del directorio actual del notebook
directorio_actual = os.path.abspath(os.getcwd())

# Definir la ruta relativa al archivo CSV desde el directorio actual
ruta_csv_relativa = 'Dataset_AirportArrays/AirportArrays_base_datos_2008.csv'

# Combinar la ruta del directorio actual con la ruta relativa
ruta_csv = os.path.join(directorio_actual, ruta_csv_relativa)

try:
    df3 = pd.read_csv(ruta_csv)
    print("Archivo CSV cargado exitosamente.")
# Captura error
except FileNotFoundError:
    print(f"No se pudo encontrar el archivo CSV en la ruta: {ruta_csv}")
except Exception as e:
    print(f"Ocurrió un error al cargar el archivo CSV: {str(e)}")

df3[['Month', 'DayofMonth','AirTime', 'ArrDelay', 'Distance','Origin', 'Dest','DepDelay','TaxiIn', 'TaxiOut']].head()

Archivo CSV cargado exitosamente.

,Month,DayofMonth,AirTime,ArrDelay,Distance,Origin,Dest,DepDelay,TaxiIn,TaxiOut
0,1,3,116.0,-14.0,810,IAD,TPA,8.0,4.0,8.0
1,1,3,113.0,2.0,810,IAD,TPA,19.0,5.0,10.0
2,1,3,76.0,14.0,515,IND,BWI,8.0,3.0,17.0
3,1,3,78.0,-6.0,515,IND,BWI,-4.0,3.0,7.0
4,1,3,77.0,34.0,515,IND,BWI,34.0,3.0,10.0

In [7]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7009728 entries, 0 to 7009727
Data columns (total 29 columns):
 #   Column             Dtype
---  ------             -----
 0   Year               int64
 1   Month              int64
 2   DayofMonth         int64
 3   DayOfWeek          int64
 4   DepTime            float64
 5   CRSDepTime         int64
 6   ArrTime            float64
 7   CRSArrTime         int64
 8   UniqueCarrier      object
 9   FlightNum          int64
 10  TailNum            object
 11  ActualElapsedTime  float64
 12  CRSElapsedTime     float64
 13  AirTime            float64
 14  ArrDelay           float64
 15  DepDelay           float64
 16  Origin             object
 17  Dest               object
 18  Distance           int64
 19  TaxiIn             float64
 20  TaxiOut            float64
 21  Cancelled          int64
 22  CancellationCode   object
 23  Diverted           int64
 24  CarrierDelay       float64
 25  WeatherDelay       float64
 26  NASDelay           float64
 27  SecurityDelay      float64
 28  LateAircraftDelay  float64
dtypes: float64(14), int64(10), object(5)
memory usage: 1.5+ GB